[submodule "Azavea.Open.Common"]
	path = Azavea.Open.Common
	url = git://oatmealutils.git.sourceforge.net/gitroot/oatmealutils/Azavea.Open.Common
[submodule "Azavea.Open.DAO"]
	path = Azavea.Open.DAO
	url = git://fastdao.git.sourceforge.net/gitroot/fastdao/Azavea.Open.DAO
