[submodule "Azavea.Open.DAO"]
	path = Azavea.Open.DAO
	url = git://fastdao.git.sourceforge.net/gitroot/fastdao/Azavea.Open.DAO
[submodule "Azavea.Open.DAO.CSV"]
	path = Azavea.Open.DAO.CSV
	url = git://fastdao.git.sourceforge.net/gitroot/fastdao/Azavea.Open.DAO.CSV
[submodule "Azavea.Open.DAO.Firebird"]
	path = Azavea.Open.DAO.Firebird
	url = git://fastdao.git.sourceforge.net/gitroot/fastdao/Azavea.Open.DAO.Firebird
[submodule "Azavea.Open.DAO.OleDb"]
	path = Azavea.Open.DAO.OleDb
	url = git://fastdao.git.sourceforge.net/gitroot/fastdao/Azavea.Open.DAO.OleDb
[submodule "Azavea.Open.DAO.PostgreSQL"]
	path = Azavea.Open.DAO.PostgreSQL
	url = git://fastdao.git.sourceforge.net/gitroot/fastdao/Azavea.Open.DAO.PostgreSQL
[submodule "Azavea.Open.DAO.SQLServer"]
	path = Azavea.Open.DAO.SQLServer
	url = git://fastdao.git.sourceforge.net/gitroot/fastdao/Azavea.Open.DAO.SQLServer
[submodule "Azavea.Open.DAO.SQLite"]
	path = Azavea.Open.DAO.SQLite
	url = git://fastdao.git.sourceforge.net/gitroot/fastdao/Azavea.Open.DAO.SQLite
