<components>
  <component name="DAO">
    <parameter name="DescriptorClass" value="Azavea.Open.DAO.PostgreSQL.PostgreSqlDescriptor,Azavea.Open.DAO.PostgreSQL"/>
    <parameter name="Server" value="hobbes" />
    <parameter name="User" value="azavea_tester" />
    <parameter name="Password" value="atest" />
    <parameter name="Database" value="azavea_common_test" />

    <parameter name="MAPPING" value="..\..\Tests\Mapping.xml" />
  </component>
</components>
