<?xml version="1.0" encoding="utf-8" ?>
<components>
	<component name="DAO">
		<parameter name="DescriptorClass" value="Azavea.Open.DAO.CSV.CsvDescriptor,Azavea.Open.DAO.CSV"/>
		<parameter name="Path" value="..\..\Tests" />

		<parameter name="MAPPING" value="..\..\Tests\Mapping.xml" />
	</component>
</components>
