<?xml version="1.0" encoding="utf-8" ?>
<components>
    <component name="DAO">
        <parameter name="TYPE" value="Access" />
        <parameter name="PROVIDER" value="Microsoft.Jet.OLEDB.4.0" />
        <parameter name="SERVER" value="..\..\Tests\UnitTest.mdb" />
        <parameter name="DATABASE" value="" />
        <parameter name="USER" value="" />
        <parameter name="PASSWORD" value="" />

        <parameter name="MAPPING" value="..\..\Tests\Mapping.xml" />
    </component>
</components>
