<?xml version="1.0" encoding="utf-8" ?>
<components>
    <component name="DAO">
        <parameter name="TYPE" value="Oracle" />
        <parameter name="SERVER" value="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=LR07)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORCL)));" />
        <parameter name="DATABASE" value="" />
        <parameter name="USER" value="UNITTEST" />
        <parameter name="PASSWORD" value="unittest" />

        <parameter name="MAPPING" value="..\..\Tests\Mapping.xml" />
    </component>
</components>
