<?xml version="1.0" encoding="utf-8" ?>
<components>
    <component name="DAO">
        <parameter name="TYPE" value="SQLServer" />
        <parameter name="SERVER" value="LR05" />
        <parameter name="DATABASE" value="unittest_misc" />
        <parameter name="USER" value="UNITTEST" />
        <parameter name="PASSWORD" value="unittest" />

        <parameter name="MAPPING" value="..\..\Tests\Mapping.xml" />
    </component>
</components>
