<?xml version="1.0" encoding="utf-8" ?>
<components>
  <component name="DAO">
    <parameter name="DescriptorClass" value="Azavea.Open.DAO.Memory.MemoryDescriptor,Azavea.Open.DAO"/>
    <parameter name="UID" value="Testing" />

    <parameter name="MAPPING" value="..\..\Tests\Mapping.xml" />
  </component>
  <component name="DAO2">
    <parameter name="DescriptorClass" value="Azavea.Open.DAO.Memory.MemoryDescriptor,Azavea.Open.DAO"/>
    <parameter name="UID" value="Different" />

    <parameter name="MAPPING" value="..\..\Tests\Mapping.xml" />
  </component>
  <component name="DAOInlineMapping">
    <parameter name="DescriptorClass" value="Azavea.Open.DAO.Memory.MemoryDescriptor,Azavea.Open.DAO"/>
    <parameter name="UID" value="Different" />

    <class name="Azavea.Open.DAO.Tests.NameClass,Azavea.Open.DAO" table="NameTable">
      <id name="ID" column="ID">
        <generator class="native"/>
      </id>
      <property name="Name" column="Name" />
    </class>
    <class name="Azavea.Open.DAO.Tests.EnumClass,Azavea.Open.DAO" table="EnumTable">
      <id name="ID" column="ID">
        <generator class="native"/>
      </id>
      <property name="Enum1" column="StringEnum" type="string"/>
      <property name="Enum2" column="IntEnum"/>
    </class>
  </component>
</components>
