<?xml version="1.0" encoding="utf-8" ?>
<components>
  <component name="DAO">
    <parameter name="DescriptorClass" value="Azavea.Open.DAO.Memory.MemoryDescriptor,Azavea.Open.DAO"/>
    <parameter name="UID" value="Testing" />

    <parameter name="MAPPING" value="..\..\Tests\Mapping.xml" />
  </component>
  <component name="DAO2">
    <parameter name="DescriptorClass" value="Azavea.Open.DAO.Memory.MemoryDescriptor,Azavea.Open.DAO"/>
    <parameter name="UID" value="Different" />

    <parameter name="MAPPING" value="..\..\Tests\Mapping.xml" />
  </component>
</components>
