<?xml version="1.0" encoding="utf-8" ?>
<components>
	<component name="DAO">
		<parameter name="DescriptorClass" value="Azavea.Open.DAO.SQLite.SQLiteDescriptor,Azavea.Open.DAO.SQLite"/>
		<parameter name="Database" value="..\..\Tests\UnitTest.db" />

		<parameter name="MAPPING" value="..\..\Tests\Mapping.xml" />
	</component>
</components>
