<?xml version="1.0" encoding="utf-8" ?>
<testing>
  <components>
    <component name="Test">
      <parameter name="DescriptorClass" value="Azavea.Database.Firebird.FirebirdDescriptor,Azavea.Database.Firebird"/>
      <parameter name="Database" value="%TEMP%\FbUnitTest.fdb"/>
    </component>
  </components>
</testing>
