<?xml version="1.0" encoding="utf-8" ?>
<components>
	<component name="DAO">
		<parameter name="DescriptorClass" value="Azavea.Open.DAO.Firebird.FirebirdDescriptor,Azavea.Open.DAO.Firebird"/>
		<parameter name="Database" value="..\..\Tests\UnitTest.fdb" />

		<parameter name="MAPPING" value="..\..\Tests\Mapping.xml" />
	</component>
</components>
